body {
    font-size: 17px;
    line-height: 17px;
    color: white;
    font-weight: normal;
    font-family: "Cuprum";
}

h1 {
    font-size: 24px;
    line-height: 24px;
    color: white;
    font-weight: normal;
    font-family: "Cuprum";
}

h3 {
    font-size: 21px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-family: "Cuprum";
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;  
    background-color: darkgray;
}

.main-header {
    background-color: darkblue;
    min-height: 
}

.index-logo {
    width: 220px;
    float: left;
    text-align: center;
    margin-right: 40px;
    background-color: orangered;
}

.search {
    float: left;  
    margin-top: 10px;
    margin-right: 80px;
}

.bookmarks {
    width: 140px;
    min-height: 28px;
    padding-top: 14px;
    display: inline-block;
}

.cart {
    width: 130px;
    min-height: 28px;
    padding-top: 14px;
    display: inline-block;
}

.user-block {
    width: 150px;
    min-height: 28px;
    float: right;
    text-align: center;
    padding-top: 14px
}

.under-header {
    background-color: cornflowerblue;
    min-height: 290px;
    margin-bottom: 60px;
   
}

.description {       /* Эта стерва тоже не хочет идти на своё место, сорри :D */
    width: 205px;
    float: left;
    margin-top: 50px;
}

.adress {
    width: 272px;
    min-height: 88px;
    display: inline-block;
}

.login {
 
    
}

.main-navigation {
    background-color: burlywood;
    min-height: 49px;
    margin-top: 75px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    word-spacing: 20px;
}

li {                            /* Как разместить эти ссылки? */
    display: inline-block;
}

.categories {
    background-color: darkgray;
    padding-left: 23px;
    padding-top: 26px;
    min-height: 410px;
    
}

.category-materials {
    width: 300px;
    float: left;
    min-height: 123px;
}

.category-instruments {
    width: 300px;
    float: left;
     min-height: 123px;
    
}

.category-equipment {
    width: 300px;
    float: left;
    min-height: 123px;
    margin-bottom: 20px;
}

.category-sales {
    width: 300px;
    float: right;
    margin-top: px;
    margin-right: 40px;
    min-height: 123px;
    margin-bottom: 20px;
}

.category-delivery {
    width: 300px;
    margin-top: 300px;
    margin-left: 600px;
    min-height: 123px;
    
}

.slider {            /* Эта дрянь не хочет прыгать в секшн :D */
    width: 500px;
    min-height: 266px;
    float: left;
    margin-
}

.popular {                    
    margin-top: 330px;             /* Временно, слайдер мешается */
    background-color: darkgoldenrod
}




































.company-item {
    width: 940px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}

.contacts-inf {
    width: 940px;
    background-color: darkgoldenrod;
    margin-left: auto;
    margin-right: auto;
}