body {
    font-size: 17px;
    line-height: 17px;
    color: white;
    font-weight: normal;
    font-family: "Cuprum";
}

h1 {
    font-size: 24px;
    line-height: 24px;
    color: white;
    font-weight: normal;
    font-family: "Cuprum";
}

h3 {
    font-size: 24px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-family: "Cuprum";
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: darkgray;
}

.index-logo {
    float: left;
    text-align: center;
    background-color: cadetblue;
}

.search {
    float: left;    
}

.description {
    float: left;
}

.bookmarks-cart {
    float: left;
}

.adress {
    text-align: center;
}

.user-block {
    padding-top: 40px;
  
    
}


.main-header {
    background-color: bisque;
}



.main-navigation {
    width: 940px;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}

.categories {
    width: 940px;
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.category-materials {
    float: left;
    margin-right: 20px;
}

.category-instruments {
    float:left;
    margin-right: 20px;
}

.category-equipment {
    float:left;
    margin-right: 20px;
}

.category-sales {
    float: right;
    margin-right: 20px;
}

.category-delivery {
    float: right  ;
    margin-right: 20px;
}

.popular {
    width: 940px;
    background-color: burlywood;
    margin-right: auto;
    margin-left: auto;   
    margin-top: 54px;
}

.drill {
   width: 940px;
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
}

.company-item {
    width: 940px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}

.contacts-inf {
    width: 940px;
    background-color: darkgoldenrod;
    margin-left: auto;
    margin-right: auto;
}